.side
  .side-header
    %p.side-header__user-name åå‰
    %ul.user-menu
      %li.user-menu__edit-name edit
      %li.user-menu__new-group newGroup
  .side__group
  
.message
  .message__title
  .message__body
  .message__input
