.side {
  width: 300px;
  &-header {
    width: 100%;
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
      &__user-name {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #ffffff;
        font-size: 16px;
      }
      .user-menu {
        display: flex;
        &__edit-name {
          display: list-item;
          text-align: -webkit-match-parent;
          a {
            color: white;
            text-decoration: none;
          }
        }
        &__new-group {
          display: list-item;
          text-align: -webkit-match-parent;
          margin-left: 0.3rem;
          a {
            color: white;
            text-decoration: none;
            }           
        }
      }
  }
  &-groups {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #2f3e51;
    overflow: scroll;
    padding: 20px 20px 0;
    a {
      text-decoration: none;
      .group {
        margin-bottom: 40px;
        &__group-name {
          color: #ffffff;
          font-weight: bold;
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__text-message {
          color: #ffffff;
          font-weight: bold;
          font-size: 11px;
        }
      }
    }
  }
}