.main {
  width: calc(100vw - 300px);
  .title {
    height: 100px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .group {
      margin-top: 35px;
      font-size: 20px;
      color: #333;
      &__name {
        font-size: 20px;
        font-weight: normal;
      }
      .member-list {
        display: flex;
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    a {
      text-decoration: none;
      .edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        color: #38aef0;
      }
    }
  }
  .body {
    background-color: #fafafa;
    width: 100%;
    height: calc(100vh - 190px);
    padding: 46px 40px;
    overflow: scroll;
    .message-box {
      padding-bottom: 20px;
      .upper-info {
        display: flex;
        margin-bottom: 10px;
        &__user {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__datatime {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .lower-message {
	      margin-top: 10px;
        color: #434a54;
        font-size: 14px;
        &__image {
          width: 800px;
        }
        &__content {
          margin-bottom: 10px;
        }
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: #ffffff;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: #38AEF0;
      border: none;
      color: #ffffff;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
